body{
    background-color:#D7BCE8;
    color:#C0F5FA;
    font-family:Arial, Helvetica, sans-serif;
}

.question{
    text-align: center;
    margin: auto;
    width:90%;
    height: 80%;
}
h1{
    text-align: center;
}
.hide{
    display:none;
}
img{
    max-width: 250px;
    border-radius: 10px;
}
.fruit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
}
main{
    background-color: #5d576ba0;
    border-radius: 10px;
    height: 100%;
    margin: auto;
    padding-bottom: 100px;;
}
.buttons{
    text-align: center;
}
#aqua-next{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color:#AF125A;
}
#ban-but{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color:#AF125A;
}
#final {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: glow 9s infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000;
        background-color: #ff0000;
    }
    16.7% {
        box-shadow: 0 0 5px #ff7f00, 0 0 10px #ff7f00, 0 0 20px #ff7f00, 0 0 30px #ff7f00, 0 0 40px #ff7f00, 0 0 50px #ff7f00, 0 0 60px #ff7f00;
        background-color: #ff7f00;
    }
    33.3% {
        box-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 50px #ffff00, 0 0 60px #ffff00;
        background-color: #ffff00;

    }
    50% {
        box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00;
        background-color: #00ff00;

    }
    66.7% {
        box-shadow: 0 0 5px #0000ff, 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff;
        background-color: #0000ff;

    }
    83.3% {
        box-shadow: 0 0 5px #4b0082, 0 0 10px #4b0082, 0 0 20px #4b0082, 0 0 30px #4b0082, 0 0 40px #4b0082, 0 0 50px #4b0082, 0 0 60px #4b0082;
        background-color: #4b0082;

    }
    100% {
        box-shadow: 0 0 5px #8b00ff, 0 0 10px #8b00ff, 0 0 20px #8b00ff, 0 0 30px #8b00ff, 0 0 40px #8b00ff, 0 0 50px #8b00ff, 0 0 60px #8b00ff;
        background-color: #8b00ff;

    }
}